* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0);
}

a {
    text-decoration: none;
    background-color: #00000000;
}

button {
    border-radius: 50px;
    background-color: #ffffff;
}

.botonestop button {
    border: 2px solid #000000;
    color: #000000;
    background-color: #ffffff;
    font-size: 10px;

}

button:hover {
    transition-duration: 0.4s;

    color: #ffffff;
    background-color: #000000;
}

.botonestop {
    scale: 150%;
    margin-right: 70px;
    transition-duration: 0.4s;

    background-color: rgba(240, 248, 255, 0);
    z-index: 2;
}



.Main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url("../medios\ entrega\ 1/banner.jpg");
    background-size: cover;
    position: static;
    background-attachment: fixed;
    background-position: center;
}


.bannercoso {
    /*imagen mal llamada banner*/
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    object-fit: cover;
}

.bannercoso img {
    text-align: center;

}

.negro {
    position: absolute;

}

.Header {
    overflow: hidden;
    min-height: 150px;
    /*
    background-image: url("../medios\ entrega\ 1/banner2.jpg");
*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.Header::before {
    position: absolute;
    background-color: #000000;
}


.Logo {
    width: 150px;
    background: none;
    z-index: 3;
}

.Logo img {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.Menu {
    padding: 20px;
    list-style: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Menu a {
    background-color: rgba(255, 255, 224, 0);
    padding: 10px 20px;
}



.teibol {
    margin-top: 80px;
    border: 10px solid #ffffff;
    background-color: #000000c4;
    margin-left: 490px;
    border-radius: 50px;
    max-width: 1000px;
}

.botonmenu {
    overflow: hidden;
    margin: 50px;
    transition-duration: 0.4s;
    background-color: aliceblue;
}

.botonmenu:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}



.fute {
    overflow: hidden;
    align-items: center;
    display: flex;
    background-color: #000000;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.afute1 {
    color: rgb(255, 255, 255);
    padding: 0px 0px 0px;
    background-color: #000000;

}

.tablafooter {
    border-spacing: 20px;
}

.wrapper {
    order: 2;
    align-items: end;
    margin-left: 100px;
    display: grid;
}

.one {
    margin-bottom: 10px;
    margin-left: 5px;
    grid-column: 1 / 2;
    grid-row: 1;
}

.two {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.three {
    margin-bottom: 10px;

    grid-column: 1;
    grid-row: 2 / 2;
}

.four {
    margin-left: 7px;

    grid-column: 2;
    grid-row: 2;
}

.marcas {
    order: 3;
}

.inpu {
    margin-left: 1700px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    order: 4;
    position: absolute;
}

.botonbol {
    color: #000000;
    background-color: #ffffff;
    margin-left: 50px;
}

.foro {
    background-color: #ffffff;
}

.inputext {
    color: #ffffff;
    background-color: #000000;
}

.marcas {
    margin-left: 120px;
    margin-top: 10px;
    scale: 130%;
}

.imggg {
    margin-top: 120px;
    margin-left: 20px;
    border-radius: 15px;

}

.portada {
    margin-top: 50px;
    border-radius: 50px;
}

.miniaturas {
    margin-top: 50px;
    max-height: 500px;
    max-width: 470px;
    overflow: scroll;
}

.todagaleria {
    margin-left: 170px;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    background-color: #000000c8;
    border: 10px solid #ffffff;
    border-radius: 50px;
    padding: 10px;
}

.tablacarrito {
    color: #ffffff;
    margin-top: 50px;
    border: 10px solid #ffffff;
    background-color: #000000c4;
    margin-left: 30px;
    border-radius: 50px;
    max-width: 1500px;
    max-height: 200px;
}

.botoncarrito {
    background-color: #ffffff;
}

.tablacarrito img {
    border-radius: 15px;
}

.tablacarrito td {
    padding: 20px;
}

.resumenpedido {
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.774);
    position: relative;
    left: 90px;
    overflow: hidden;
}

.orden {
    display: flex;
}

li {
    color: #ffffff;
    list-style: none;
    padding: 20px;
}

/* padding: arriba derecha abajo izquierda*/

.total {
    scale: 150%;
    margin-left: 130px;
}

.resumenpedido button {
    margin-top: 20px;
    margin-left: 90px;
}

.medio {
    margin-left: 100px;
    padding: 0px 100px 100px 0px;
}

.medio1 {
    margin-bottom: 1000px;
}

.navabout {
    align-items: center;
    margin-bottom: 50px;
    padding: 0px 100px 100px 0px;
    background-color: #00000081;
    margin-top: 20px;
    border: 10px solid #ffffff;
    border-radius: 50px;
    max-width: 2500px;
    margin-left: 50px;
}

.navfoto {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.loremcoso {
    color: #ffffff;
    font-size: 190%;
}

.mapa {
    position: absolute;
    left: 100%;

}

.selectores {
    margin-top: 20px;
    border: 10px solid #ffffff;
    background-color: #000000c4;
    border-radius: 50px;
    color: aliceblue;
    overflow: hidden;


}

.selector {
    color: #ffffff;
    background-color: rgb(124, 124, 124);

}

.botonselector {
    position: relative;
    left: 560px;
    margin-top: 50px;
}

.selectores td {
    padding-left: 100px;
    padding-right: 100px;

}

.nose {
    position: relative;
    left: 170px;
}

.bodykits {
    margin-top: 20px;
    position: relative;
    left: 110px;
    padding: 50px;
    color: #ffffff;
    display: flex;
    background-color: #000000a6;
    border-radius: 50px;
    border: 10px solid #ffffff;

}

.bodykits img {
    border-radius: 25px;
    padding: 10px;
}

/*cambios para entrega 2*/
.row {
    place-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px
}
.col-md-3{
    padding: 90px;
}